<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- root menu -->
    <menuitem id="menu_hospital_root"
        name="Hospital"
        sequence="10" />

    <!-- parent menu 1 -->
    <menuitem id="menu_patient_root"
        name="Patients"
        parent="menu_hospital_root"
        sequence="10" />

    <!-- child1 action menu 1 -->
    <menuitem id="menu_patient"
        name="Patients Details"
        parent="menu_patient_root"
        action="action_hospital_patient"
        sequence="10" />
    <!-- child2 action menu 1 -->
    <menuitem id="menu_female_patient"
        name="Female Details"
        parent="menu_patient_root"
        action="action_female_patient"
        sequence="10" />
    <!-- child3 action menu 1 -->
    <menuitem id="menu_male_patient"
        name="Male Details"
        parent="menu_patient_root"
        action="action_male_patient"
        sequence="10" />
    <!-- child4 action menu 1 -->
    <menuitem id="menu_kids"
        name="Kids Details"
        parent="menu_patient_root"
        action="action_hospital_kids"
        sequence="10" />

    <!-- parent menu 2 -->
    <menuitem id="menu_doctor_root"
        name="Doctors"
        parent="menu_hospital_root"
        sequence="10" />
    <!-- child1 action menu 2 -->
    <menuitem id="menu_doctor"
        name="Doctors Details"
        parent="menu_doctor_root"
        action="action_hospital_doctor"
        sequence="10" />

    <!-- parent menu 3 -->
    <menuitem id="menu_appointment_root"
        name="Appointments"
        parent="menu_hospital_root"
        sequence="10" />
    <!-- child1 action menu 3 -->
    <menuitem id="menu_appointment"
        name="Appointments Details"
        parent="menu_appointment_root"
        action="action_hospital_appointment"
        sequence="10" />
    <!-- child2 action menu 3 -->
    <menuitem id="menu_create_appointment_wizard"
        name="Create Appointment"
        parent="menu_appointment_root"
        action="action_create_appointment"
        sequence="20" />
    <!-- child3 action menu 3 -->
    <menuitem id="menu_search_appointment_wizard"
        name="Search Appointment"
        parent="menu_appointment_root"
        action="action_search_appointment"
        sequence="30" />
     <!-- child4 action menu 3 -->
    <menuitem id="menu_loading_appointment_wizard"
        name="Loading Appointment"
        parent="menu_appointment_root"
        action="action_loading_appointment"
        sequence="40" />
    

    <!-- parent menu 4 -->
     <menuitem id="menu_reporting"
        name="Reporting"
        parent="menu_hospital_root"
        sequence="40" />
    <!-- child1 action menu 4 -->
    <menuitem id="menu_appointment_report"
        name="Appointment"
        parent="menu_reporting"
        action="action_report_appointment"
        sequence="10" />
    <!-- child2 action menu 4 -->
    <menuitem id="menu_patient_report"
        name="Patient"
        parent="menu_reporting"
        action="action_report_patient"
        sequence="20" />
    
</odoo>